# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging
build/
dist/
downloads/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
coverage.xml

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints

# Sphinx
docs/_build/

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Project artifacts
out/
state/
logs/
